* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    --font-color: #F5F5DC
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    font-size: 16px;
}

#header_wrapper {
    display: flex;
    width: 100%;
    height: 150px;
    color: var(--font-color);
    align-items: center;
    justify-content:space-between;

}

#title {
    margin-left: 60px;
    font-size: 3rem;
    font-weight: 400;
}


#menu_button {
    margin-right: 60px;
    font-size: 2rem;
    transition: 0.1 s;
}

#menu_button:hover {
    cursor: pointer;
}

.overlay > * > #menu_button {
    display: none;
}

#exit {
    display: none;
}

.overlay > * > #exit {
    display: block;
}


/* ett x kommer fram*/
#menu_button.pressed {
    cursor: pointer;
    transition: 0.1s;
    color: transparent;
    
}

#menu_button.pressed:hover {
    cursor: pointer;
}


#menu_button.pressed .exit {
    display: inline;
}

#macintosh_picture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-position: center;
    object-fit: cover;
    z-index: -2;
    filter: brightness(0.6);

}

#main_wrapper {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 3rem;
}



#color1 {
    background-color: #5EBD3E;
    height: 30px;
    width: 100vw;
}

#color2 {
    background-color: #FFB900;
    height: 30px;
    width: 100vw;
}

#color3 {
    background-color: #F78200;
    height: 30px;
    width: 100vw;
}

#color4 {
    background-color: #E23838;
    height: 30px;
    width: 100vw;
}

#color5 {
    background-color: #973999;
    height: 30px;
    width: 100vw;
}

#color6 {
    background-color: #009CDF;
    height: 30px;
    width: 100vw;
}

#breaker {
    filter: drop-shadow(1px 10px 20px black);
}



#quote {
    color: var(--font-color);
}


#main_wrapper.overlay {
    transition: 0.1s;
    background-color: rgba(0, 0, 0, 0.8);   
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: 0.1s;

}

#quote h1 {
    margin-top: 9%;
    text-align: center;
    z-index: -1;
}

.overlay > #quote h1 {
    display: none;
}

.overlay > #quote h1 {
    display: none;
}

#x_1, #x_2 {
    background-color: #F5F5DC;
    width: 120px;
    height: 15px;
    border-radius: 5px;
}




