@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    --font-color: #F5F5DC
}

body {
    font-family: 'Inter';
}

/* main sida css */

#header_wrapper {
    display: flex;
    width: 100%;
    height: 150px;
    color: white;
    align-items: center;
    justify-content:space-between;

}

#title {
    margin-left: 3%;
    font-size: 3rem;
    font-weight: 400;

}

#menu_button {
    margin-right: 3%;
    font-size: 2rem;
}

#menu_button:hover {
    cursor: pointer;
}

.overlay > * > #menu_button {
    display: none;
}

#exit {
    display: none;
}

.overlay > * > #exit {
    display: block;
}

#menu_button.pressed {
    cursor: pointer;
    color: transparent;
    
}

#menu_button.pressed:hover {
    cursor: pointer;
}


#menu_button.pressed .exit {
    display: inline;
}

#overlay-menu {
    display: none;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-weight: lighter;
}

.overlay * #overlay-menu {
    display: inline-block;
}

#overlay-menu li {
    list-style: none;
    line-height: 200%;
    letter-spacing: 5px;
}

#overlay-menu li a {
    text-decoration: none;
    color: white;
}


#website_head {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-position: center;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.8);
    box-shadow: 0px 0px 20px black;

}

#quote {
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    padding-top: 3%;
}

.main_quote span {
    color: #F5F5DC;

}

#quote h1 {
    text-align: center;
    z-index: -1;
    font-weight: 400;
}

#main_wrapper {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 3rem;
    transition: 0.15s;

}


#main_wrapper.overlay {
    transition: 0.1s;
    background-color: rgba(0, 0, 0, 0.8);   
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: 0.15s;

}

.overlay > #quote h1 {
    display: none;
}

.overlay > #quote h1 {
    display: none;
}

#x_1, #x_2 {
    background-color: white;
    width: 50px;
    height: 7px;
    border-radius: 7px;
    margin-right: 2rem;
}

#x_1 {
    transform: rotate(45deg);
    position: relative;
    top: 3.5px;
    
}

#x_2 {
    transform: rotate(-45deg);
    position: relative;
    top: -3.5px;
}

#exit {
    overflow: visible;
    margin-right: 2%;
    position: static;
}

#exit:hover {
    cursor: pointer;
}

#products_wrapper {
    display: grid;
    width: 100vw;
    height: auto;
    background-color: #fbfbfd;
    grid-template-columns: vw 50vw;
    grid-template-rows: repeat(3, 700px);
    grid-template-areas: 
    "a1 b1"
    "a2 b2"
    "a3 b3" 
    ;
    gap: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    z-index: -100;
    position: absolute;
}

#products_wrapper b{
    letter-spacing: 3px;
}

#gameboy_picture {
    filter: brightness(0.9);
    border-radius: 10px;
    grid-area: b1;
    height: 100%;
    width: auto;
    justify-self: flex-end;
    transform: translateX(300px);
    transition: 1s;
    box-shadow: 0px 0px 5px black;

}

#gameboy_picture:hover {
    filter: brightness(1.15);
    transform: translateX(25%);
}

#gameboy_text {
    grid-area: a1;
    justify-self: center;
    align-self: center;
    line-height: 300%;
    font-size: 1.5em;
    background-color: #fbfbfd;
    border-radius: 10px;
    padding: 5%;
    width: 90%;

}

#macintosh_picture {
    filter: brightness(1);
    border-radius: 10px;
    grid-area: a2;
    height: 100%;
    width: auto;
    justify-self: flex-start;
    transform: translateX(-100px);
    transition: 1s;
    box-shadow: 0px 0px 5px black;

}

#macintosh_picture:hover {
    filter: brightness(1.15);
    transform: translateX(-8%);


}

#macintosh_text {
    grid-area: b2;
    justify-self: center;
    align-self: center;
    line-height: 300%;
    text-align: right;
    font-size: 1.5em;
    background-color: #fbfbfd;
    border-radius: 10px;
    padding: 5%;
    width: 90%;


}

#iphone_picture {
    filter: brightness(1);
    border-radius: 10px;
    grid-area: b3;
    height: 100%;
    width: auto;
    justify-self: flex-end;
    transform: translateX(230px);
    transition: 1s;
    box-shadow: 0px 0px 5px black;

}

#iphone_picture:hover {
    filter: brightness(1.5);
    transform: translateX(20%);

}

#iphone_text {
    grid-area: a3;
    justify-self: center;
    align-self: center;
    line-height: 300%;
    font-size: 1.5em;
    background-color: #fbfbfd;
    border-radius: 10px;
    padding: 5%;
    width: 90%;
}

/* _________________________________________________________________________ */

/* gamaboy sida css */

#gameboy_body {
    background: #fbfbfd;
}

.gameboy_quote  {
    margin-top: 5%;
    overflow: visible;
}

.gameboy_quote h1 {
    color: #f5f5f7;
    filter: drop-shadow(5px 5px black);

}

#gameboy_cpu_picture {
    height: 80vh;
    width: auto;
    position: absolute;
    z-index: -100;
    border-radius: 20px;
    filter: brightness(0.4);
    box-shadow: 0px 0px 5px black;
}

#gameboy_cpu_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

#gameboy_cpu_wrapper h2{
    color: white;
    font-size: 6em;
    text-align: center;
    letter-spacing: 40px;
}

#gameboy_cpu_wrapper h2 p {
    font-size: 0.5em;
    font-weight: 400;
}

#gameboy_spec_wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;

}

#gameboy_ram_picture_wrap {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboy_screen_picture_wrap {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboy_ram_picture {
    height: auto;
    width: 90%;
    border-radius: 20px;
    filter: brightness(0.7);
    box-shadow: 0px 0px 5px black;
}

#gameboy_screen_picture {
    height: auto;
    width: 60%;
    border-radius: 20px;
    filter: brightness(0.8);
    box-shadow: 0px 0px 5px black;
}

#gameboy_ram_text {
    color: white;
    position: absolute;
    text-align: center;
    font-size: 6em;
    letter-spacing: 20px;

}

#gameboy_screen_text {
    color: white;
    position: absolute;
    text-align: center;
    font-size: 6em;
    letter-spacing: 20px;
}

#gameboy_ram_picture_wrap h2 p {
    font-size: 0.5em;
    font-weight: 400;
}

#gameboy_screen_picture_wrap h2 p {
    font-size: 0.5em;
    font-weight: 400;
}

/* _________________________________________________________________________ */
/* macintosh sida css */

#macintosh_body {
    background: #fbfbfd;
}

.macintosh_quote  {
    margin-top: 5%;
    overflow: visible;
}

.macintosh_quote h1 {
    color: #f5f5f7;
    filter: drop-shadow(5px 5px black);
}

#ui_wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7%;
    padding-bottom: 7%;
}

#macintosh_ui_title {
    font-size: 4em;
    padding-bottom: 5%;
}

#macintosh_ui_gif {
    height: auto;
    width: 30vw;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;

}

#macintosh_ui_text {
    width: 1150px;
    font-size: 1.5em;
    line-height: 50px;
    margin-top: 5%;
    text-align: left;
}

#macintosh_spec_wrap {
    display: flex;
    width: 100vw;
    height: 1010px;
    justify-content: center;
    align-items: center;
}

#macintosh_spec_picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;

}

#macintosh_spec_text{
    color: white;

}

/* _________________________________________________________________________ */


/* css för mobile (alla sidor) */

@media screen and (max-width: 1000px) {
  
    #quote {
        font-size: 0.7em;
        top: 25%;
        position: absolute;
    }

    #macintosh_text, #gameboy_text, #iphone_text {
        font-size: 1em;
        text-align: left;
        line-height: 300%;
        padding: 5%;   
        width: 100vw;
        justify-self: center;
        border-radius: 5px;
    }

    #macintosh_text {
        grid-area: a2;
    }

    #gameboy_picture:hover {
        transform: translateX(100%);
    }

    #macintosh_picture:hover {
        transform: translateX(-100%);
    }

    #iphone_picture:hover {
        transform: translateX(100%);
    }

    #gameboy_picture {
        transform: translateX(130px);
    }

    #macintosh_picture {
        transform: translateX(-285px);
    }

    #iphone_picture {
        transform: translateX(100px);
    }

    #iphone_picture, #macintosh_picture, #gameboy_picture {
        filter: brightness(1);
    }

    #exit {
        overflow: visible;
        margin-right: -10px;
    }

    #gameboy_cpu_picture {
        width: 390px;
        object-fit: cover;
        border-radius: 0px;
    }

    #gameboy_ram_picture_wrap, #gameboy_screen_picture_wrap {
        width: 100vw;
        height: auto;
        overflow: visible;
        margin-bottom: 100px;
    }

    #gameboy_screen_picture {
        width: 390px;
        height: 500px;
        object-fit: cover;
        border-radius: 0px;
    }

    #gameboy_ram_picture {
        width: 390px;
        height: 500px;
        object-fit: cover;
        border-radius: 0px;
    }

    #gameboy_spec_wrapper {
        flex-direction: column;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }

    #gameboy_cpu_wrapper h2, #gameboy_screen_text, #gameboy_ram_text  {
        font-size: 3.5em;
        letter-spacing: 10px;
    }



}


