@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    --font-color: #F5F5DC
}

body {
    font-family: 'Inter';
}


/* _________________________________________________________________________ */
/* main sida css */

#home_page_head {
    filter: brightness(0.8);
}

#header_wrapper {
    display: flex;
    width: 100%;
    height: 150px;
    color: white;
    align-items: center;
    justify-content:space-between;

}

#title {
    margin-left: 3%;
    font-size: 3rem;
    font-weight: 400;

}

#menu_button {
    margin-right: 3%;
    font-size: 2rem;
}

#menu_button:hover {
    cursor: pointer;
}

.overlay > * > #menu_button {
    display: none;
}

#exit {
    display: none;
}

.overlay > * > #exit {
    display: block;
}

#menu_button.pressed {
    cursor: pointer;
    color: transparent;
    
}

#menu_button.pressed:hover {
    cursor: pointer;
}


#menu_button.pressed .exit {
    display: inline;
}

#overlay-menu {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-weight: lighter;
}

.overlay * #overlay-menu {
    display: inline-block;
}

#overlay-menu li {
    list-style: none;
    line-height: 200%;
    letter-spacing: 5px;
}

#overlay-menu li a {
    text-decoration: none;
    color: white;
}


.website_head {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-position: center;
    object-fit: cover;
    z-index: -1;
    box-shadow: 0px 0px 40px 1px black;

}

#quote {
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}

 .main_quote {
     padding-top: 12%;
 }

#quote h1 {
    text-align: center;
    z-index: -1;
    font-weight: 400;
    font-size: 2em;
}

#main_wrapper {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 3rem;
    transition: 0.15s;

}


#main_wrapper.overlay {
    transition: 0.1s;
    background-color: rgba(0, 0, 0, 0.8);   
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: 0.15s;

}

.overlay > #quote h1 {
    display: none;
}

.overlay > #quote h1 {
    display: none;
}

#x_1, #x_2 {
    background-color: white;
    width: 50px;
    height: 7px;
    border-radius: 7px;
    margin-right: 2rem;
}

#x_1 {
    transform: rotate(45deg);
    position: relative;
    top: 3.5px;
    
}

#x_2 {
    transform: rotate(-45deg);
    position: relative;
    top: -3.5px;
}

#exit {
    overflow: visible;
    margin-right: 2%;
    position: static;
}

#exit:hover {
    cursor: pointer;
}

#products_wrapper {
    display: grid;
    width: 100vw;
    height: auto;
    background: rgb(240, 240, 240);
    grid-template-columns: vw 50vw;
    grid-template-rows: repeat(3, 700px);
    grid-template-areas: 
    "a1 b1"
    "a2 b2"
    "a3 b3" 
    ;
    gap: 400px;
    padding-top: 200px;
    padding-bottom: 200px;
    z-index: -100;
    position: absolute;
}

#gameboy_picture {
    filter: brightness(0.9);
    border-radius: 20px;
    grid-area: b1;
    height: 100%;
    width: auto;
    justify-self: flex-end;
    transform: translateX(350px);
    transition: 1s;

}

#gameboy_picture:hover {
    filter: brightness(1.15);
    transform: translateX(25%);
}

#gameboy_text {
    grid-area: a1;
    justify-self: center;
    align-self: center;
    line-height: 300%;
    font-size: 1.5em;
    width: 100%;
    background: white;
    padding: 30px;
    border-radius: 20px;
    margin-left: 10%;
    text-align: left;

}

#macintosh_picture {
    filter: brightness(1);
    border-radius: 20px;
    grid-area: a2;
    height: 100%;
    width: auto;
    justify-self: flex-start;
    transform: translateX(-170px);
    transition: 1s;

}

#macintosh_picture:hover {
    filter: brightness(1.15);
    transform: translateX(-8%);


}

#macintosh_text {
    grid-area: b2;
    justify-self: center;
    align-self: center;
    line-height: 300%;
    text-align: left;
    font-size: 1.5em;
    width: 100%;
    background: white;
    padding: 30px;
    border-radius: 20px;
    margin-right: 10%;


}

#iphone_picture {
    filter: brightness(1);
    border-radius: 20px;
    grid-area: b3;
    height: 100%;
    width: auto;
    justify-self: flex-end;
    transform: translateX(300px);
    transition: 1s;

}

#iphone_picture:hover {
    filter: brightness(1.5);
    transform: translateX(20%);

}

#iphone_text {
    grid-area: a3;
    justify-self: center;
    align-self: center;
    line-height: 300%;
    font-size: 1.5em;
    width: 100%;
    background: white;
    padding: 30px;
    border-radius: 20px;
    margin-left: 10%;
    text-align: left;
}

/* _________________________________________________________________________ */

/* gamaboy sida css */

#gameboy_page_head {
    filter: brightness(1);
}

#gameboy_body {
    background: rgb(240, 240, 240);

}

.gameboy_quote  {
    margin-top: 10%;
}

.gameboy_quote h1 {
    color: white;

}

#gameboy_cpu_picture {
    height: 80vh;
    width: auto;
    position: absolute;
    z-index: -100;
    border-radius: 20px;
    filter: brightness(0.7);
}

#gameboy_cpu_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

#gameboy_cpu_wrapper h2{
    color: white;
    font-size: 6em;
    text-align: center;
    letter-spacing: 40px;
}

#gameboy_cpu_wrapper h2 p {
    font-size: 0.5em;
    font-weight: 400;
}

#gameboy_spec_wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%px;

}

#gameboy_ram_picture_wrap {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboy_screen_picture_wrap {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboy_ram_picture {
    height: auto;
    width: 90%;
    border-radius: 20px;
    filter: brightness(0.9);
}

#gameboy_screen_picture {
    height: auto;
    width: 60%;
    border-radius: 20px;
    filter: brightness(0.9);
}

#gameboy_ram_text {
    color: white;
    position: absolute;
    text-align: center;
    font-size: 5em;
    letter-spacing: 10px;

}

#gameboy_screen_text {
    color: white;
    position: absolute;
    text-align: center;
    font-size: 4em;
    letter-spacing: 10px;
}

#gameboy_ram_picture_wrap h2 p {
    font-size: 0.5em;
    font-weight: 400;
}

#gameboy_screen_picture_wrap h2 p {
    font-size: 0.5em;
    font-weight: 400;
}

#gameboy_invent {
    height: 90vh;
    width: 100vw;
    display: flex;
    color: black;
    font-size: 6em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gameboy_invent h2 span {
    color: rgb(90, 87, 87);
}


/* _________________________________________________________________________ */
/* macintosh sida css */

#macintosh_page_head {
    filter: brightness(0.8);
}

#macintosh_body {
    background: rgb(240, 240, 240);
}

.macintosh_quote  {
    margin-top: 9%;
    overflow: visible;
}

.macintosh_quote h1 {
    color: white;
}

#ui_wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20%;
    padding-bottom: 20%;
}

#macintosh_ui_title {
    font-size: 7em;
    padding-bottom: 5%;
}

#macintosh_ui_title span {
    color: #a75b72;
}

#ui_wrap h2 {
     text-align: center;
     width: 100%;
}

#macintosh_ui_gif {
    height: auto;
    width: 50vw;
    border-radius: 20px;

}

#macintosh_ui_text {
    width: 67vw;
    font-size: 1.5em;
    line-height: 50px;
    margin-top: 5%;
    text-align: left;
    background: white;
    padding: 30px;
    border-radius: 20px ;
}

#macintosh_spec_wrap {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px 1px black;

}

#macintosh_spec_picture {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -100;
    filter: brightness(1);

}

#macintosh_spec_text{
    color: white;
    font-size: 5em;
    text-align: center;
    line-height: 200px;
    letter-spacing: 20px;
}

/* _________________________________________________________________________ */
/* css för iphone sida */

.iphone_quote {
    padding-top: 8% ;
}

#iphone_page_head {
    filter: brightness(0.7);
}

#iphone_body {
    background: rgb(240, 240, 240);
}

#reinvent {
    height: 90vh;
    width: 100vw;
    display: flex;
    color: black;
    font-size: 6em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#reinvent h2 {
    width: 100%;
}

#reinvent h2 span {
    color: rgb(36 55 76);
}

#iphone_design_wrap {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#iphone_design_title {
    position: absolute;
    font-size: 7em;
    color: white;
    text-align: center;
    letter-spacing: 10px;

}

#iphone_design_picture {
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(1.1);
}

#iphone_design_text {
    width: 67%;
    font-size: 1.5em;
    line-height: 50px;
    margin-top: 5%;
    text-align: left;
    background: white;
    padding: 30px;
    border-radius: 20px;
}

#iphone_design_text_wrap {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center ;
}

#iphone_screen_wrap {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}

#iphone_screen_picture {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(0.7);
}

#iphone_spec_wrap {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#iphone_camera_wrap {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#iphone_camera_picture {
    width: 90%;
    border-radius: 20px;
    filter: brightness(1.5);
}

#iphone_camera_title {
    position: absolute;
    font-size: 7em;
    color: white;
}

#iphone_camera_title p {
    font-size: 0.5em;
    text-align: center;
    font-weight: 400;
}

#iphone_screen_title {
    position: absolute;
    font-size: 7em;
    color: white;
}

#iphone_screen_title p {
    font-size: 0.5em;
    text-align: center;
    font-weight: 400;
}





/* _________________________________________________________________________ */
/* css för mobile (alla sidor) */

@media screen and (max-width: 1300px) {

    #reinvent {
        font-size: 2em;
    }

    #title {
        font-size: 0.8em;
    }

    .main_quote {
        padding-top: 35%;
    }

    .gameboy_quote {
        padding-top: 25%;
    }

    .macintosh_quote {
        padding-top: 30%;
    }

    .iphone_quote {
        padding-top: 30%;
    }

    #quote {
        font-size: 0.7em;
    }

    #products_wrapper {
        gap: 100px;
    }

    #macintosh_text, #gameboy_text, #iphone_text {
        font-size: 1em;
        text-align: left;
        line-height: 300%;
        padding: 5%;   
        width: 100vw;
        justify-self: center;
        margin: 0;
    }

    #macintosh_text {
        grid-area: a2;
    }

    #gameboy_picture:hover {
        transform: translateX(100%);
    }

    #macintosh_picture:hover {
        transform: translateX(-100%);
    }

    #iphone_picture:hover {
        transform: translateX(100%);
    }

    #gameboy_picture {
        transform: translateX(250px);
    }

    #macintosh_picture {
        transform: translateX(-275px);
    }

    #iphone_picture {
        transform: translateX(200px);
    }

    #iphone_picture, #macintosh_picture, #gameboy_picture {
        filter: brightness(1.1);
    }

    #exit {
        overflow: visible;
        margin-right: -5px;
    }

    #gameboy_cpu_picture {
        width: 390px;
        object-fit: cover;
        border-radius: 0px;
    }

    #gameboy_ram_picture_wrap, #gameboy_screen_picture_wrap {
        width: 100vw;
        height: auto;
        overflow: visible;
        margin-bottom: 100px;
    }

    #gameboy_screen_picture {
        width: 390px;
        height: 500px;
        object-fit: cover;
        border-radius: 0px;
    }

    #gameboy_ram_picture {
        width: 390px;
        height: 500px;
        object-fit: cover;
        border-radius: 0px;
    }

    #gameboy_spec_wrapper {
        flex-direction: column;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }

    #gameboy_cpu_wrapper h2, #gameboy_screen_text, #gameboy_ram_text  {
        font-size: 3.5em;
        letter-spacing: 10px;
    }

    #gameboy_invent {
        font-size: 2.4em;
    }

    #macintosh_spec_text{
        font-size: 2em;
        text-align: center;
        line-height: 100px;
        letter-spacing: 20px;
    }
    
    #macintosh_ui_title {
        font-size: 3em;
        text-align: center;
    }
    
    #macintosh_ui_gif {
        height: auto;
        width: 80vw;
        border-radius: 20px;
        margin-top: 1%;
        margin-bottom: 1%;
    
    }
    
    #macintosh_ui_text {
        width: 80vw;
        font-size: 1em;
        line-height: 20px;
        text-align: left;
        font-size: 0.9em;
    }

    #ui_wrap p {
        height: 220px;
    }

}


