* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif; 
    overflow: hidden; 
}

#flex_wrapper {
    display: flex;
    width: 100%;
    height: 150px;
    color: #F5F5DC;
    align-items: center;
    justify-content:space-between;

}

#menu_left {
    margin-left: 60px;
    font-size: 50px;
}

/* text "menu"*/
#menu_right_not_pressed {
    margin-right: 60px;
    font-size: 30px;
    transition: 0.2s;
}

#menu_right_not_pressed:hover {
    cursor: pointer;
}

/* ett x kommer fram*/
#menu_right_pressed {
    cursor: pointer;
    transition: 0.2s;
}

#menu_right_pressed:hover {
    cursor: pointer;
}

#macintosh_picture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-position: center;
    object-fit: cover;
    z-index: -2;
    filter: brightness(0.6);
   
}

#foto {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 50px;
}

#citat {
    margin-top: 9%;
    text-align: center;
    z-index: -1;
    color: #F5F5DC;
}

#color1 {
    background-color: #5EBD3E;
    height: 30px;
    width: 100vw;
}

#color2 {
    background-color: #FFB900;
    height: 30px;
    width: 100vw;
}

#color3 {
    background-color: #F78200;
    height: 30px;
    width: 100vw;
}

#color4 {
    background-color: #E23838;
    height: 30px;
    width: 100vw;
}

#color5 {
    background-color: #973999;
    height: 30px;
    width: 100vw;
}

#color6 {
    background-color: #009CDF;
    height: 30px;
    width: 100vw;
}

#breaker {
    filter: drop-shadow(1px 10px 20px black);
}

/* style när man klickar på x-et*/
.pressed {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    transition: 0.1s;
    font-size: 0px;
    z-index: -1;
    
}

.not_pressed {
    transition: 0.1s;
}


